
*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.list{
    display: flex;
    justify-content: space-around;
}

.listname{
    list-style-type: none;
    color: #3c08b4; 
    font-family: 'Droid Sans', sans-serif; 
    font-size: 1.2rem; 
    font-weight: 400; 
    line-height: 44px; 
    margin-right: 20px; 
    text-align: center; 
}

.heading {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(rgb(99, 1, 126),rgb(126, 19, 176),rgb(223, 144, 223),pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listname a:hover{
    font-size: 1.4rem;
    opacity: 0.5;
}

.bookImage{
    background-image: url('./images/booksimage.webp');
    height:60vh;
    background-size: cover;
    width: 50%;
}

.para{
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.para1{ 
     font-size: 1.5rem; 
     font-weight: 400; 
     font-family: 'Alfa Slab One', cursive;
     color:white;
}

.para2{
    color:color-mix(in hsl shorter hue, grey 50%, white 50%);
    font-family: 'Trocchi', serif; 
    font-weight: normal; line-height: 48px;
    font-style: italic;
    font-size: 1.5rem; 
}

.home{
    display: flex;
}

.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family:'lucida sans';
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:28%;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.sicon{
    height: 50px;
    width: 50px;
    margin-right: 2px;
}

.servicelist{
    height:200px;
    width:30%;
    background-image: linear-gradient(92.88deg, #596eba 9.16%, #6d5dd0 43.89%, #8b71d4 64.72%);
    margin:10px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    font-family: sans-serif;
    color:rgb(253, 254, 255);
    font-weight: bold;
}

.desc{
    color:azure;
    font-family:'Lucida sans';
}

.servicelist:hover{
    transform: scale(1.08);
}

.listname a{
    text-decoration: none;
    font-size: 1.2rem; 

}

#about{
    padding:5px;
}

.aboutlist{
    display: flex;
    height:45vh;
    margin-bottom: 2px;
    padding:5px;
}

.aboutlist img{
    width:35vw;
}

.aboutlist p,.sub p,.pa2,.follow{
    align-self: center;
    font-family: 'Lucida handwriting';
    font-weight: bolder;
    font-size: 1.2rem;
    color:#3c08b4;
}

.wi{
    padding:15px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.pa{
    font-size: 1.2rem;
    width:65%;
}

.cicon{
    width:10%;
    height:50%;
    padding:0px;
    margin:0px;
    margin-right: 1px;
}

.btnc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
    display: flex;
    padding:10px;
    background-image: linear-gradient(92.88deg, #a085db 9.16%, #f199d6 43.89%, #f1c4e5 64.72%);
}

.sub{
    width:45%;
    text-align: center;
    align-self: flex-end;
}

.btn2{
    height:30px;
    margin-left: 2px;
}

.inp{
    height:30px;
    border-radius: 5px;
    border-width: 0px;
}

.pa2{
    font-size: 16px;
}

.suicon{
    margin-right: 5px;
}

.sub2{
    padding:30px;
    padding-bottom: 50px;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 15%;
}

.button-36:hover{
    cursor: pointer;
}

.ficon{
    height: 35px;
    width: 35px;
    margin:5px;
}

.bookdiv{
    display: flex;
    width: 50%;
    padding:20px;
    margin:10px;
}

.bookdiv img{
    width:150px;
    height:180px;
    margin-right: 5px;
}

.btn3{
    width:35%;
    height:30px;
}

.bookhead{
    font-family: 'Lucida Sans';
    color:#3c08b4;
    font-weight: bolder;
    font-size: 20px;
}

.bookpara{
    font-family: 'Lucida Sans';
    font-weight: lighter;
    font-size: 12px;
}

.bookprice{
    font-family: 'Lucida Sans';
    font-weight: bold;
}

.bookscon{
    background-image: linear-gradient(92.88deg, #a085db 9.16%, #f199d6 43.89%, #f1c4e5 64.72%);
}

nav{
    position: fixed;
    top:0;
    width:100%;
}